config USR_DRV_ILI9341
  bool  "userspace ILI9341 driver"
  default y
  ---help---
  Support for ILI9341 hardware Screen driver.
config USR_DRV_ILI9341_CFLAGS
  string
  default " -I../../drivers/socs/stm32f439/ili9341/api " if USR_DRV_ILI9341

